.toastui-editor-contents {
  width: 100%;
}

.toastui-editor-contents > p {
  font-size: 1.4rem;
  line-height: 2.2rem;
  color: #151515;

  @media screen and (max-width: 767px) {
    font-family: "NanumSquareRound", sans-serif;
    font-size: 1.2rem;
    line-height: 1.8rem;
  }
}

.ProseMirror > div {
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: #151515;
}

.ProseMirror,
.toastui-editor-md-preview {
  padding: 20px;
}

.toastui-editor-md-tab-container .tab-item.active {
  background-color: #4d6c56;
  color: white;
  font-size: 1.3rem;
}
